Node_Red_Flow.json
[{"id":"a784f06d.590fa","type":"tab","label":"Drowsy Assistant","disabled":false,"info":""},{"id":"22c0cdba.9ac242","type":"inject","z":"a784f06d.590fa","name":"","topic":"","payload":"\"Help\"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":150,"y":60,"wires":[["ea2fa107.7d1b2"]]},{"id":"7c3d2b9d.4c9234","type":"debug","z":"a784f06d.590fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":100,"wires":[]},{"id":"ea2fa107.7d1b2","type":"watson-conversation-v1","z":"a784f06d.590fa","name":"Safe car","workspaceid":"67273a5d-6554-4663-b97c-c2b0ce1549dd","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":180,"y":140,"wires":[["cf8580cb.70a72","f47c3a74.71d208"]]},{"id":"90da5267.e87d8","type":"websocket out","z":"a784f06d.590fa","name":"","server":"406d80c3.28e89","client":"","x":650,"y":340,"wires":[]},{"id":"fdd1e16f.481b4","type":"http response","z":"a784f06d.590fa","name":"","statusCode":"","headers":{},"x":650,"y":280,"wires":[]},{"id":"a27b018e.e087f","type":"http in","z":"a784f06d.590fa","name":"","url":"/simple","method":"get","upload":false,"swaggerDoc":"","x":510,"y":180,"wires":[["fd43bea6.c4dff"]]},{"id":"fd43bea6.c4dff","type":"template","z":"a784f06d.590fa","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n        <link href=\"https://fonts.googleapis.com/css?family=Roboto\" rel=\"stylesheet\">\n        <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.2.0/css/all.css\">\n        <script\n  src=\"https://code.jquery.com/jquery-3.3.1.min.js\"\n  integrity=\"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=\"\n  crossorigin=\"anonymous\"></script>\n  \n        <style media=\"screen\">\n    body{\n        background: #114357;  /* fallback for old browsers */\n        background: -webkit-linear-gradient(to right, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */\n        background: linear-gradient(to right, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */\n\n      }\n\n      .container{\n        margin: 200px auto;\n        width: 350px;\n        background: #f7f7f7;\n        box-shadow: 0 0 3px rgba(0,0,0 0.1)\n      } \n      \n      input{\n        color: #2980b9;\n        font-size: 18px;\n        width: 100%;\n        padding: 13px 13px 13px 20px;\n        background: #f7f7f7;\n        box-sizing: border-box;\n    }\n    \n     h1{\n        background: #2980b9;\n        color: white;\n        margin: 0;\n        padding: 10px 20px;\n        text-transform: uppercase;\n        font-size: 24px;\n        font-weight: normal;\n    }\n    \n      button{\n    background: white;\n    width: 350px;\n    line-height: 40px;\n    color: #666;\n    text-align:inherit;\n    }\n    \n        button:nth-child(2n){\n    background: #f7f7f7;\n    }\n        \n        #status{\n      background: white;\n      width: 150px;\n      line-height: 60px;\n      color: #555;\n      text-align:inherit;\n    }\n    \n    </style>\n    <title>Safe Car Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n               // document.getElementById(\"messages\").innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n                $(\".MESSAGES\").append( line)\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n      \n    $( document ).ready(function() {\n    console.log( \"ready!\" );\n    $(\"input[type = 'text']\").keypress(function () {\n            if (event.which === 13) {\n              console.log(\"yes\");\n               //grabbing the new todo text from input\n               var userResponse = $(this).val();\n               //clear the input field\n               $(this).val(\"\")\n               //create new li and add to ul\n               $(\".MESSAGES\").append('<p>' + \"          \" + userResponse + '</p>').css(\"color\", \"blue\");\n               doit(userResponse)\n               \n            }\n        });\n});\n  \n   function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n        \n</script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <div class=\"container\">\n          <font face=\"comic sans\">\n        <h1>Safe Car Display <i class=\"fas fa-car\"></i></h1>\n        <button type=\"button\" onclick='doit(\"help\");'>Drowsy Driver</button>\n\t\t<button type=\"button\" onclick='doit(\"mismatch\");'>Driver ID Mismatch</button>\n        <!--<hr/>-->\n        <!--<div id=\"status\">unknown</div>-->\n        <div class=\"MESSAGES\" style=\"overflow: scroll\"></div>\n        \n        <input type=\"text\" name=\"\" value=\"\" placeholder=\"Type your response\">\n        </font>  \n        </div>\n    </body>\n</html>\n","x":530,"y":240,"wires":[["fdd1e16f.481b4"]]},{"id":"f3f5b584.df41d8","type":"websocket in","z":"a784f06d.590fa","name":"","server":"406d80c3.28e89","client":"","x":100,"y":340,"wires":[["ea2fa107.7d1b2","7c3d2b9d.4c9234"]]},{"id":"cf8580cb.70a72","type":"function","z":"a784f06d.590fa","name":"Return message","func":"\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":300,"wires":[["c6f2ad53.76868"]]},{"id":"c6f2ad53.76868","type":"json","z":"a784f06d.590fa","name":"","property":"payload","action":"str","pretty":false,"x":480,"y":340,"wires":[["90da5267.e87d8"]]},{"id":"8a09ac00.972ad","type":"twilio out","z":"a784f06d.590fa","service":"_ext_","twilio":"d0d06a7d.d60578","from":"","number":"5025453904","name":"Twilio","x":750,"y":420,"wires":[]},{"id":"f47c3a74.71d208","type":"function","z":"a784f06d.590fa","name":"Unknown Driver Text","func":"if (msg.payload.input.text == \"mismatch\")\n{\n    msg.payload = msg.payload.output.text[0];\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":340,"y":420,"wires":[["8a09ac00.972ad"]]},{"id":"406d80c3.28e89","type":"websocket-listener","z":"","path":"/ws/simple","wholemsg":"false"},{"id":"d0d06a7d.d60578","type":"twilio-api","z":"","sid":"ACafdc5a5e461857ab3902b17ef497538d","from":"(502) 289-1309","name":"text"}]